<!Rasp>
<html lang="en-US">
	<head>
		<title>
		SMART VIDEO SURVEILLANCE SYSTEM 
		</title>
		<meta charset="utf-8"/>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<style>
		table,tr,td { margin-top:-20px; margin-left:20px; border:2px double #FF00FF; width:260px; height:100px; text-align:center;
		color:#FF00FF; font-family:"Tahoma"; font-size:32px; font-weight:bold; text-align:center;}
		#h01 {color:#EE33CC; font-family:"Tahoma"; font-size:52px; font-weight:bold; text-align:center;}
		#art02 { margin-top:-500px; margin-left:400px; color:#111111; font-family:"Tahoma"; font-size:32px; font-weight:bold; 			
		text-align:left;}
		#p01, #p02 {margin-left:50px; padding-top:10px; color:#8811FF; font-family:"Arial"; font-size:26px; font-weight:bold; 
		text-align:left;}
		#h021 {margin-left:50px; padding-top:10px; color:#8811FF; font-family:"Arial"; font-size:40px; font-weight:bold; 
		text-align:left;}
		#f01 {margin-left:50px; padding-top:10px; color:#ABABFF; font-family:"Arial"; font-size:40px; font-weight:bold; 
		text-align:left;}
		input[type=text]:focus {border: 3px solid #555;	width:50%; background-color:#AAA; color:white;font-size:20px;}	
		input[type=button], input[type=submit], input[type=reset] {
		background-color: #4CAF50;
		border: none;
		color: white;
		padding: 16px 32px;
		text-decoration: none;
		margin: 4px 2px;
		width:30%;
		cursor: pointer;
}
		
		/* unvisited link */
		a:link {
		color: blue;}
		/* visited link */
		a:visited {
		color: green;}
		/* mouse over link */
		a:hover {
		color: hotpink;}
		/* selected link */
		a:active {
		color: lightblue;}
		footer {margin-top:300px; margin-left:30px; text-sixe:16px;}	
		</style>
	
	</head>

	<body>
	
		<header>
		<h1 id=h01>
		SMART VIDEO SURVEILLANCE SYSTEM
		</h1>
		</header>
			<br><br><br><br>
		<nav>	
			<table>	
			<tr> <td> <a href="{{ url_for('about') }}"> About	</a> </td></tr>
			<tr> <td> <a href="{{ url_for('stream') }}"> Video Streaming </a> </td></tr>
			<tr> <td> <a href="{{ url_for('config') }}"> Settings </a> </td></tr>
			<tr> <td> <a href="{{ url_for('login') }}"> logout </a> </td></tr>
			</table>
		</nav>
		<br><br>
		
		<article id=art02>
		<h1 id=h021> Settings <i class="material-icons" style="font-size:40px;color:red;">sentiment_very_satisfied</i> </h1>
		<p id=p21> 
		<form id=f01 action="save.php" method="get">
			Profile
			<br>
			<input type="radio" name="reg_prof1" value="Profile-1"/> Profile-1
			<input type="radio" name="reg_prof2" value="Profile-2"/> Profile-2
			<input type="radio" name="reg_prof2" value="Profile-3"/> Profile-3
		
			<br>
			Consecutive Frames
			<br>
			<input type="radio" name="reg_cf1" value="15"/> 15 frames
			<input type="radio" name="reg_cf2" value="30"/> 30 frames
			<br>
			BS Algorithm
			<input type="checkbox" name="reg_chat" value="MOG"> MOG
			<input type="checkbox" name="reg_reading" value="Diff"> Diff

			<br>
			<input type="submit" value="Connect.."/>
			
		
		</form>
		</p>
		</article>
	
		<footer>
		<p id=p03>Designed by: Islam Saad</p>
		<p style="margin-top:-36px;text-align:right; color:red;";>Contact information: <a href="mailto:camalertpi@gmail.com">
			camalertpi@gmail.com</a>.</p>
		</footer>
		
		
	</body>



</html>
