<!Rasp>
<html lang="en-US">
	<head>
		<title>
		SMART VIDEO SURVEILLANCE SYSTEM 
		</title>
		<meta charset="utf-8"/>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<style>
		table,tr,td { margin-top:-20px; margin-left:20px; border:2px double #FF00FF; width:260px; height:100px; text-align:center;
		color:#FF00FF; font-family:"Tahoma"; font-size:32px; font-weight:bold; text-align:center;}
		#h01 {color:#EE33CC; font-family:"Tahoma"; font-size:52px; font-weight:bold; text-align:center;}
		#art02 { margin-top:-500px; margin-left:400px; color:#00F; font-family:"Tahoma"; font-size:32px; font-weight:bold; 			
		text-align:left;}
		#p01, #p02 {margin-left:50px; padding-top:10px; color:#8811FF; font-family:"Arial"; font-size:26px; font-weight:bold; 
		text-align:left;}
		#h021 {margin-left:50px; padding-top:10px; color:#8811FF; font-family:"Arial"; font-size:40px; font-weight:bold; 
		text-align:left;}
		/* unvisited link */
		a:link {
		color: blue;}
		/* visited link */
		a:visited {
		color: green;}
		/* mouse over link */
		a:hover {
		color: hotpink;}
		/* selected link */
		a:active {
		color: lightblue;}
		footer {margin-top:300px; margin-left:30px; text-sixe:16px;}	
		</style>
	
	</head>

	<body>
	
		<header>
		<h1 id=h01>
		SMART VIDEO SURVEILLANCE SYSTEM
		</h1>
		</header>
			<br><br>
		<nav>	
			<table>	
			<tr> <td> <a href="{{ url_for('about') }}"> About	</a> </td></tr>
			<tr> <td> <a href="{{ url_for('stream') }}"> Video Streaming </a> </td></tr>
			<tr> <td> <a href="{{ url_for('config') }}"> Settings </a> </td></tr>
			<tr> <td> <a href="{{ url_for('login') }}"> logout </a> </td></tr>
			</table>
		</nav>
		<br><br>
		
		<article id=art02>
		<h4>Video Streaming</h4>
		<img src="{{ url_for('video_feed') }}">
		</article>
	
	
		<footer>
		<p id=p03>Designed by: Islam Saad</p>
		<p style="margin-top:-36px;text-align:right; color:red;";>Contact information: <a href="mailto:camalertpi@gmail.com">
			camalertpi@gmail.com</a>.</p>
		</footer>
		
		
	</body>



</html>
